<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'intro.css' %}">
  <link rel="stylesheet" href="{% static 'intro.js' %}">
</head>
<body>
<div class="resume">
  <div class="base">
    <div class="profile">
      <div class="photo">
      </div><div class="info">
        <h1 class="name">Matt Dolan</h1>
        <h1 class="name">Data Scientist</h1>
      &nbsp;
      </div>
    <div class="about"> </div>
    <div class="Projects">
      &nbsp;
    </div>
    &nbsp;
    </div>
    <div class="about">
      <div class="Projects">
      </div>
      <div class="name"><a href="{% url 'intro' %}"><i class="fas fa-envelope"></i><span>Home</a> </div>
      &nbsp;
      <div class="name"><a href="{% url 'home' %}"><i class="fas fa-envelope"></i><span>CV</span></a> </div>
      &nbsp;
      <div class="name"><a href="{% url 'dashboards' %}"><i class="fas fa-envelope"></i><span>Projects</span></a> </div>
      &nbsp;
      &nbsp;
      <div class="name"><span>Contact: </span></a> </div>
       &nbsp;
      <div class="email"><a href="mailto:matthewdmdolan@gmail.com"><i class="fas fa-envelope"></i><span><u>Email</u></span></a> </div>
      &nbsp;
      <div class="email"><a href="https://www.linkedin.com/in/matthew-dolan-coventry/"><i class="fas fa-envelope"></i><span><u>Linkedin</u></span></a> </div>
    </div>
    <div class="follow">
      <div class="box">
      </div>
    </div>
  </div>
  <div class="func">
    <div class="work">
      <h3><i class="fa fa-briefcase"></i></h3>
<div class="content">
  <h2>About Me</h2>
  <ul>
    <li>Howdy!</li>
     <li>  </li>
    <li>My name's Matt and welcome to my web application! </li>
     <li>  </li>
    <li>Passionate about leveraging technology for the advancement of social good, with a particular focus on facilitating social mobility and social research.
    Constantly seeking volunteering, charity, and freelancing opportunities across various technologies within the data science space.</li>
    <li>Experienced in applying data science methodologies in the finance sector, utilizing data-driven insights to drive informed decision-making.</li>
    <li>This website serves as an interactive version of my CV and showcases a collection of projects I have been working on.</li>
    <li>Thanks for stopping by!</li>
  </ul>
</div>
  </div>
      <ul>
        &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
        &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
        &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
        &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
       &nbsp;
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
  <script src="{% static 'home.js' %}"></script>
</body>
</html>

